{% extends "layout.html" %}
{% from "macro/common.html" import field_errors, horizontal_field, %}

{% block page_title %}故事-修改密码页
{% endblock %}
{% block page_id %}page-setting{% endblock %}

{% block body %}
    <legend>修改密码页面</legend>
    <form id="form-edit-password" class="form-horizontal" method="POST" action="{{ url_for('user.change_password') }}">
        <fieldset>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form.csrf_token }}

            {{ horizontal_field(form.password) }}
            {{ horizontal_field(form.new) }}
            {{ horizontal_field(form.confirm_new) }}

            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <input type="submit" value="提交" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
